@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  background-color: transparent;
}

.App {
  height: 100%;
}

.navbar {
  width: 100% !important;
  background: #41295a !important;
  background: -webkit-linear-gradient(to right, #2f0743, #41295a) !important;
  background: linear-gradient(to right, #2f0743, #41295a) !important;
}

.NavContainer {
  background-color: transparent;
}

.LogoContainer {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navbar-brand {
  font-size: 1.9rem !important;
  font-family: 'Kanit', sans-serif;
}

.Logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.3rem;
}

.navbar-toggler-icon,
.navbar-collapse,
.navbar-nav,
.MyLink,
span {
  background-color: transparent;
}

.MyProfile {
  border-left: 1px solid rgb(126, 126, 126);
}

.Separator {
  margin-right: 1rem;
  font-weight: 400;
}

.HorizontalCard {
  flex-direction: row !important;
  margin: 2rem;
}

.RocketImage {
  height: 15rem;
  width: 20rem;
}

.RocketName {
  margin-top: 0.2rem;
}

.CardTextContainer {
  margin-top: 1.5rem;
}

.ReserveButton {
  margin-top: 2em;
}

.CancelButton {
  margin-top: 2em;
}

.ProfileContent {
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .RocketImage {
    height: 20rem;
    width: 25rem;
  }
}

@media (max-width: 980px) {
  .RocketImage {
    background-color: #212529;
    object-fit: cover;
    height: 28rem;
  }
}

@media (max-width: 767px) {
  .HorizontalCard {
    flex-direction: column !important;
    margin: 0.8rem 0.8rem 2.5rem 0.8rem;
  }

  .RocketImage {
    height: auto;
    width: auto;
  }
}

@media (max-width: 450px) {
  .navbar-brand {
    font-size: 1.4rem !important;
    font-family: 'Kanit', sans-serif;
  }

  .Logo {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 1rem;
  }

  .CancelButton {
    margin-top: 1em;
  }
}
