@import "~bootstrap/scss/bootstrap";

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.LogoContainer {
  display: flex;
  align-items: center;
}

.SpaceTravelers .navbar-brand {
  font-size: 6rem;
}

.Logo {
  width: 5rem;
  height: 5rem;
  margin-right: 1.3rem;
}

.MyProfile {
  border-left: 1px solid rgb(126, 126, 126);
}

.Separator {
  margin-right: 1rem;
  font-weight: 400;
}

.HorizontalCard {
  flex-direction: row !important;
  margin: 2rem;
}

.RocketImage {
  height: 15rem;
  width: 20rem;
}

.ReserveButton {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .HorizontalCard {
    flex-direction: column !important;
    margin: 2rem;
  }

  .RocketImage {
    width: 100%;
  }
}
